{% extends 'base.html.twig' %}

{% set price = 0 %}
{% set mealprice = 0 %}

{% block body %}
    <div class="wrapper-box">
        <div class="row">
            <div class="container">
                <div class="entry-content">
                    <h2 class="entry-title">Tickets</h2>
                    {% if orderComplete %}
                        <h2>{{ orderComplete }}</h2>
                    {% endif %}
                    {% if order %}
                    <div class="col-md-8">
                        {% endif %}
                        <div class="panel panel-default">
                            <div class="panel-heading">Purchase tickets</div>
                            <div class="panel-body">
                                {% if order %}
                                    <form action="/order/insert" method="POST">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="firstname">Firstname</label>
                                                <input type="text" class="form-control" name="firstname" required/>
                                            </div>
                                            <div class="form-group">
                                                <label for="infix">Infix</label>
                                                <input type="text" class="form-control" name="infix"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname">Surname</label>
                                                <input type="text" class="form-control" name="lastname" required/>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">E-mail</label>
                                                <input type="email" class="form-control" name="email" required/>
                                            </div>
                                        </div>
                                        <input type="submit" name="submit" value="Confirm order">
                                    </form>
                                {% else %}
                                    <div class="col-md-6">
                                        <form action="/order/submit" method="POST">
                                            <select name="ticket_type" id="ticket_type" class="form-control">
                                                {% for ticket in tickets %}
                                                    {% if ticket.available > 0 %}
                                                        <option value="{{ ticket.id }}"
                                                                data-price="{{ ticket.price }}">{{ ticket.type }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <input type="number" min="1" max="10" id="amount" name="ticket_amount"
                                                   class="form-control" value="1"/>
                                            <br/>
                                            {% for meal in meals %}
                                                <div class="form-group">
                                                    <label for="{{ meal.type }}">{{ meal.type }}</label>
                                                    <input id="{{ meal.type }}" type="checkbox" name="{{ meal.type }}"
                                                           data-price="{{ meal.price }}"/>
                                                    <input type="number" min="0" max="10" id="{{ meal.type }}_amount"
                                                           name="{{ meal.type }}_amount"
                                                           class="form-control" value="0"/>
                                                </div>
                                            {% endfor %}
                                            <br/>
                                            <input type="submit" name="submit" class="btn btn-success" value="Order"/>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="pull-right">
                                            Price: &euro;<span id="price_text">2.50</span><br/>
                                            {% for ticket in tickets %}
                                                {% if ticket.available <= 0 and ticket.type != "passe-partout" %}
                                                     - {{ ticket.type }} SOLD OUT!<br/>
                                                {% endif %}
                                            {% endfor %}
                                        </h2>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if order %}
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Order</div>
                            <div class="panel-body">
                                {% for ticket in tickets %}
                                    {% set price = price + ticket.price * order.ticket.amount %}
                                    {{ order.ticket.amount }}x {{ ticket.type|title }} - &euro;{{ ticket.price * order.ticket.amount }}
                                    <br/>
                                {% endfor %}
                                {% for meal in meals %}
                                    {% if order.lunch > 0  %}
                                        {% if meal.type == 'lunch' %}
                                            {% set mealprice = mealprice + meal.price * order.lunch %}
                                            {{ order.lunch }}x {{ meal.type }} - &euro; {{ meal.price * order.lunch }}
                                            <br/>
                                        {% endif %}
                                    {% endif %}
                                    {% if order.dinner > 0  %}
                                        {% if meal.type == 'dinner' %}
                                            {% set mealprice = mealprice + meal.price * order.dinner %}
                                            {{ order.dinner }}x {{ meal.type }} - &euro; {{ meal.price * order.dinner }}
                                            <br/>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="panel-footer">
                                <strong>Subtotal: &euro;{{ price + mealprice }}</strong>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var ticketprice = 2.5;
        {% for meal in meals %}
            var {{ meal.type }}price = 0;
        {% endfor %}
        $('#ticket_type').on('change', function () {
            var self = $(this);
            ticketprice = parseFloat(self.find(':selected').data('price') * $('#amount').val());
            $('#price_text').html(ticketprice
                    {% for meal in meals %}
                    + {{ meal.type }}price
                    {% endfor %}
            );
        });
        $('#amount').on('change', function () {
            var self = $(this);
            ticketprice = parseFloat($('#ticket_type').find(':selected').data('price') * self.val());
            $('#price_text').html(ticketprice
                    {% for meal in meals %}
                    + {{ meal.type }}price
                    {% endfor %}
            );
        });


        {% for meal in meals %}
            var {{ meal.type }}on = false;
            var meal = '#{{ meal.type }}';
            $(meal).on('click', function () {
                var self = $(this);
                var mealamount = '#{{ meal.type }}_amount';
                if ({{ meal.type }}on == false) {
                    $(mealamount).val(1);
                    {{ meal.type }}on = true;
                    {{ meal.type }}price = self.data('price') * $(mealamount).val();
                    $('#price_text').html(ticketprice
                            {% for meal in meals %}
                            + {{ meal.type }}price
                            {% endfor %}
                    );
                } else {
                    {{ meal.type }}on = false;
                    $(mealamount).val(0);
                    {{ meal.type }}price = self.data('price') * $(mealamount).val();
                    $('#price_text').html(ticketprice
                            {% for meal in meals %}
                            + {{ meal.type }}price
                            {% endfor %}
                    );

                }
            });

            $('#{{ meal.type }}_amount').on('change', function () {
                var self = $(this);
                {{ meal.type }}price = $('#{{ meal.type }}').data('price') * self.val();

                $('#price_text').html(ticketprice
                        {% for meal in meals %}
                        + {{ meal.type }}price
                        {% endfor %}
                );

                if (self.val() > 0) {
                    {{ meal.type }}on = true;
                    $('#{{ meal.type }}').prop('checked', true);
                } else if (self.val() == 0) {
                    {{ meal.type }}on = false;
                    $('#{{ meal.type }}').prop('checked', false);
                }
            });
        {% endfor %}

    </script>
{% endblock %}